<!DOCTYPE html>
<html>
    <head>
        <title>Tervetuloa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link href="static/css/style.css" rel="stylesheet">-->
        <script>
            var i = 0;

            function new_field() {
                i++;
                

                var wrapper = document.getElementById('ingredient_fields');
                var paragraph = document.createElement("p");
                var text = document.createTextNode("Ainesosa:");
                var field = document.createElement("input");
                var vali = document.createElement("br");


                paragraph.className = "ingredient";
                field.type = "text";
                field.name = "ingredient" + i;

                paragraph.appendChild(text);
                paragraph.appendChild(vali);
                paragraph.appendChild(field);
                wrapper.appendChild(paragraph);



                var ruokalaji = document.getElementById('ruokalaji');
                var teke = document.createTextNode('Shit just got serious');

                //ruokalaji.appendChild(teke);
                //wrapper.appendChild = `
                //    <p>Ainesosa:<br>
                //    <input type="text" name="ingredient"></p>
                //`;
                //console.log('ruokalaji');
            }
        </script>
    </head>
    <body>
        <form action="/add_meal" method="POST">
            <p id="ruokalaji">Ruokalaji:<br>
            <input type="text" name="meal"></p>
            <div id="ingredient_fields">
                <p>Ainesosa:<br>
                <input type="text" name="ingredient"></p>
            </div>
            <button type="button" onclick="new_field()">Lisää ainesosia</button>
            <input type="submit" value="Lisää ruokalaji">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        <button onclick="location.replace('/')">Takaisin</button>
        <br>
        {% for meal in meals %}
            <p>{{ meal.name }}</p>
        {% endfor %}
    </body>
</html>