{%- extends "base.html" -%}
    {%- block title -%}Uutiset{%- endblock -%}
    {%- block head -%}
        {{ super() }}
    {%- endblock -%}
    {%- block content -%}
    <form action="/submit_news" method="POST" class="h-full">
        <div name="main-content" class="m-20 grid grid-cols-3 justify-center h-3/4">
            <div name="write-news" class="bg-orange-100 border border-black rounded col-span-2 mx-6 p-10">
                <div class="grid justify-center pb-5">
                    <p class="font-semibold m-1">Uutisen otsikko: <input name="topic" onclick="this.value = this.onclick = null;" class="border border-black rounded-md px-1 py-0.5 font-normal" value="Lyhyt ja ytimekäs otsikko"></p>
                </div>
                <div class="border border-black rounded-md h-3/4">
                    <textarea name="news" onclick="this.value = this.onclick = null;" class="resize-none box-border h-full w-full p-3 scroll-smooth rounded-md">Tähän kenttään tulee itse uutinen.</textarea>
                </div>
                <div class="grid justify-center pt-7">
                    <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold px-24 py-4 border border-green-800 rounded">
                        Tallenna
                    </button>
                </div>
            </div>
            <div name="list-news" class="bg-orange-100 border border-black rounded col-span-1 mx-6 h-full overflow-auto">
                <div>
                    <p class="text-xl text-center font-bold p-9">Viimeisimmät uutiset:</p>
                </div>
                {% for topic in news -%}
                <a href="{{ url_for('index_blueprint.get_news', news_id=topic.db_id )}}">
                    <div class="bg-orange-100 border border-black rounded mb-4 text-center hover:bg-white hover:cursor-pointer max-h-20 mx-6 px-5">
                        <p class="font-semibold pt-2 pb-2">{{ topic }}</p>
                        <p class="pb-3 px-2 truncate">{{ topic.news }}</p>
                    </div>
                </a>
                {%- endfor %}
            </div>
        </div>
        <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    {%- endblock -%}