<!DOCTYPE html>
<html lang="fi-FI">
    <head>
        {%- block head %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
        {% if not session.username -%}
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
        {% endif -%}
        <title>Ruokalistageneraattori - {% block title %}{% endblock %}</title>
        {%- endblock %}
    </head>
    <body class="bg-fixed bg-cover h-screen asm:overflow-hidden">
        {%- block banner %}
        <div class="bg-gradient-to-b from-green-600/95 to-emerald-600/90 border-b-2 border-green-900/95 w-screen grid grid-cols-2 {% if not session.username %}absolute top-0{% endif %}">
            <div class="flex items-center justify-center {% if not session.username %}col-span-2{% endif %}">
                <p class="font-bold text-white text-lg text-shadow-sm-black {% if not session.username %}p-6{% endif %}">Ruokalistageneraattori | Hallinta</p>
            </div>
            {%- if session.username -%}
            <div class="flex flex-col sm:flex-row justify-end items-end">
                <div class="hidden focus:inline-flex hover:cursor-pointer hover:bg-white text-white text-shadow-sm-black hover:text-shadow-none font-semibold hover:text-black sm:inline-block p-6 hover:px-[23px] hover:border-x border-black"><a href="{{ url_for('admin_blueprint.users') }}">Käyttäjät</a></div>
                <div class="hidden focus:inline-flex hover:cursor-pointer hover:bg-white text-white text-shadow-sm-black hover:text-shadow-none font-semibold hover:text-black sm:inline-block p-6 hover:px-[23px] hover:border-x border-black"><a href="{{ url_for('admin_blueprint.admin') }}">Loki</a></div>
                <div class="hidden focus:inline-flex hover:cursor-pointer hover:bg-white text-white text-shadow-sm-black hover:text-shadow-none font-semibold hover:text-black sm:inline-block p-6 hover:px-[23px] hover:border-x border-black"><a href="{{ url_for('index_blueprint.view_meals') }}">Uutiset</a></div>
                <div class="hidden focus:inline-flex hover:cursor-pointer hover:bg-white text-white text-shadow-sm-black hover:text-shadow-none font-semibold hover:text-black sm:inline-block p-6 hover:px-[23px] hover:border-x border-black"><a href="{{ url_for('login_blueprint.logout') }}">Kirjaudu ulos</a></div>
            </div>
            {%- endif %}
        </div>
        {% endblock -%}
        {% if session.username -%}
            {% block content %}
            {% endblock %}
        {% else -%}
            {% include "main.html" %}
        {%- endif -%}
        {% include "modal.html" %}
        {%- with messages = get_flashed_messages() %}
            {%- autoescape false %}
                {%- if message %}
                <script>activateNotifyModal("{{ message }}", true);</script>
                {%- elif messages %}
                <script>activateNotifyModal("{{ messages[0] }}", true);</script>
                {%- endif %}
            {%- endautoescape %}
        {%- endwith %}
    </body>
</html>
