<!DOCTYPE html>
<html>
    <head>
        <title>Tervetuloa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
      {% if session.username %}
        <a href="/logout">Kirjaudu ulos</a>
        <div class="container 2xl mx-auto m-14 content-center border-2 border-black">
          <div id="header" class='m-20'>
            <h1 class="text-center text-5xl font-bold">Tervetuloa!</h1>
          </div>
          
          <div><h1 class="text-center text-xl font-bold">Viikon {{ meals.timestamp.isocalendar()[1] }} ruokalista:</h1></div>
          <div id="content-wrapper" class="m-20 grid grid-cols-7 gap-x-2 text-center">
            
            {% for meal in meals.meals %}

            <div class="border-2 border-black ">
              <h1 class="">Måndag:</h1>
              <p>{{ meal.name }}</p>
            </div>

            {% endfor %}

          </div>
        </div>
        <!--<button onclick="location.reload();">Generoi ruokalista</button>-->
        <button onclick="location.replace('/generate');">Generoi ruokalista</button>
        <button onclick="location.replace('/meals');">Lisää ruokalajeja</button>
      {% else %}
      <a href="/login_page">Kirjaudu sisään</a>
      <p>tai</p>
      <a href="/register_page">Rekisteröidy</a>
      {% endif %}
    </body>
</html>