    {%- block login -%}
        <div class="flex items-center justify-center my-14 sm:h-screen sm:my-0">
            <div id="login-box" class=" bg-orange-100/90 flex items-center justify-center w-96 h-96 border-black border rounded" style="display: none;">
                <form id="login-form" action="/login" method="POST" class="text-center" style="display: none;" autocomplete="off">
                    <p class="my-1 py-1">
                        Tunnus:<br>
                        <input id="username-field" type="text" name="username" maxlength="16" class="border border-black rounded my-2">
                    </p>
                    <p class="my-1 py-1">
                        Salasana:<br>
                        <input id="password-field" type="password" name="password" maxlength="16" class="border border-black rounded my-2">
                    </p>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <p id="username-notification" class="font-semibold px-10 py-2 text-sm text-red-500" style="display: none;">
                        Käyttäjätunnuksen täytyy olla vähintään viisi merkkiä pitkä
                    </p>
                    <p id="password-notification" class="font-semibold px-10 py-2 text-sm text-red-500" style="display: none;">
                        Salasanan täytyy olla vähintään kahdeksan merkkiä pitkä ja sisältää myös numeroita sekä erikoismerkkejä
                    </p>
                    <p id="uname-free-notification" class="font-semibold px-10 py-2 text-sm text-red-500" style="display: none;">
                        Käyttäjätunnus on jo käytössä, valitse toinen
                    </p>
                    <button id="login-box-button" class="bg-green-400 text-white font-bold my-3 py-2 px-4 border border-green-800 rounded"><!--disabled>-->
                        Kirjaudu
                    </button>
                </form>
            </div>
            <div id="items-box" class="grid grid-cols-1 sm:grid-cols-3 bg-orange-100/90 mx-14 border border-black rounded">
                <div class="m-5 sm:col-span-2">
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis nisi magna. Morbi sodales nulla ante, ac aliquet orci volutpat ac. Fusce pellentesque dui eget malesuada molestie. Nullam porta et neque volutpat malesuada. Vivamus ac auctor urna, sit amet tristique lacus. Quisque sit amet aliquam mauris, sit amet volutpat nisi. Cras</p><br><p>Pulvinar dapibus ultrices. Duis porttitor eros nec lectus volutpat, vel egestas purus accumsan. Maecenas scelerisque sapien dui, et rhoncus tellus semper sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur non enim id eros placerat vestibulum vel quis magna. Sed leo diam, convallis interdum egestas eu, placerat non purus.
                    </p>
                </div>
                <div class="m-5 flex flex-col items-center justify-center">
                    <button id="login-button" onclick="activateForm('Kirjaudu sisään')" class="bg-green-600 hover:bg-green-700 text-white font-bold my-5 py-2 px-4 border border-green-800 rounded">Kirjaudu sisään</button>
                    <button id="register-button" onclick="activateForm('Rekisteröidy')" class="bg-green-600 hover:bg-green-700 text-white font-bold my-5 py-2 px-4 border border-green-800 rounded">Rekisteröidy</button>
                </div>
            </div>
        </div>
    {%- endblock -%}