{%- extends "base.html" -%}
    {%- block title -%}Tervetuloa!{%- endblock -%}
    {%- block head -%}
        {{ super() }}
        {%- if session.username %}
        <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
        {%- endif %}
    {%- endblock -%}
    {%- block content -%}
        <div id="main-content" class="bg-orange-100/90 m-14 border border-black rounded grid place-items-center">
            <div id="header" class="p-12">
                <p class="text-center text-2xl font-bold">Viikon {{ today.isocalendar()[1] }} ruokalista:</p>
            </div>
            <div id="form-div" class="hidden relative text-center border border-black px-20 py-4 mb-20 bg-orange-100 rounded">
                <div onclick="closeEditMeal()" class="absolute top-1 right-1 hover:cursor-pointer"><img src="{{ url_for('static', filename='images/cancel.png') }}"></div>
                <div class="border border-black rounded p-1 mb-2 grid place-content-center">
                    <p id="day-of-meal" class="m-1 font-semibold">Maanantai</p>
                    <p id="meal-to-edit" class="m-1 grid place-items-center">Hapansilakkavoileivät</p>
                </div>
                <p class="m-1 font-semibold">Valitse ruokalaji:</p>
                <form id="replace-meal-form">
                    <div id="meal-form-select-wrapper" class="grid place-content-center">
                        <select id="meal-form-select" name="mealdata" class="my-3 hidden"></select>
                    </div>
                    <div class="m-1">
                        <button id="replace-button" class="bg-green-600 hover:bg-green-700 text-white font-bold border px-2 py-1 border-green-800 rounded" type="button" onclick="null">
                            Vaihda ruokalajiksi
                        </button>
                    </div>
                    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
                <p class="m-1 font-semibold">tai</p>
                <button id="generate-meal-button" class="m-1 bg-green-600 hover:bg-green-700 text-white font-bold px-2 py-1 border border-green-800 rounded">
                    Generoi uusi ruokalaji
                </button>
            </div>
            <div id="current-menu-content">
                <div id="meals-of-week" class="grid grid-cols-7 text-center border-b rounded-b border-t border-l border-black rounded-t">
                    {% for meal, day in menu -%}
                    <div id="single-meal-div-{{ day }}" class="single-meal w-[180px] break-words p-3 border-r border-black {% if day == 0 %}rounded-tl rounded-bl{% elif day == 6 %}rounded-tr rounded-br{% endif %} {% if today.isocalendar()[2]-1 == day %}bg-orange-400{% else %}bg-orange-100{% endif %} hover:bg-white">
                        <p class="p-1 font-semibold">{{ days[day] }}:</p>
                        <p id="meal-name-{{ day }}" class="p-1">{{ meal }}</p>
                    </div>
                    {%- endfor %}
                </div>
                <div id="edit-menu-buttons" class="hidden border-b border-l border-black grid-cols-7 rounded-b">
                    {% for day in day_numbers -%}
                    <div id="form-div-{{ day }}" class="form-div border-r border-black text-center {% if today.isocalendar()[2]-1 == day %}bg-orange-400{% else %}bg-orange-100{% endif %} {% if day == 0 %}rounded-bl{% elif day == 6 %}rounded-br{% endif %}">
                        <button class="bg-green-600 hover:bg-green-700 text-white font-bold my-5 py-2 px-4 border border-green-800 rounded" onclick="editMeal({{ day }})">
                            Vaihda
                        </button>
                    </div>
                    {%- endfor %}
                </div>
            </div>
            <div id="buttons" class="flex flex-row items-center m-12">
                <button id="start-editing-button" onclick="editMenu()" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                    Muokkaa ruokalistaa
                </button>
                <button onclick="location.replace('/generate')" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                    Generoi uusi ruokalista
                </button>
                <button onclick="null" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                    Kerää ostoslista
                </button>
            </div>
            <div id="former-menus-wrapper">
                {% if old_menus -%}
                <div id="former-menus-button" class="mb-14">
                    <button onclick="toggleFormerMenus(true)" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                        Näytä aiemmat ruokalistat
                    </button>
                </div>
                <div id="former-menus" class="hidden relative border border-black bg-orange-100 mb-14 p-5 rounded">
                    <div onclick="toggleFormerMenus()" class="absolute top-1 right-1 hover:cursor-pointer"><img src="{{ url_for('static', filename='images/cancel.png') }}"></div>
                    <p class="px-5 py-3 font-semibold">Aiemmat ruokalistat:</p>{% for menu in old_menus %}{% set timestamp = menu.timestamp.isocalendar() %}
                    <p class="px-5 hover:font-semibold"><a href="/old_menus?week={{ timestamp[1] }}&year={{ timestamp[0] }}">Viikko {{ timestamp[1] }} / {{ timestamp[0] }}</a></p>{% endfor %}
                    <p class="px-5 pt-2 pb-3 hover:font-semibold"><a href="/old_menus">Näytä lisää...</a></p>
                </div>
                {%- else -%}
                <div id="former-menus-button" class="mb-14">
                    <button onclick="activateNotifyModal('Sinulla ei ole aiempia ruokalistoja vielä.')" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-800 rounded">
                        Näytä aiemmat ruokalistat
                    </button>
                </div>
                {%- endif %}
            </div>
        </div>
        <div id="get-spinner" class="hidden">
            <img src="{{ url_for('static', filename='images/spinner.gif') }}" width='70' height='70'>
        </div>
    {%- endblock -%}
