<!DOCTYPE html>
<html>
    <head>
        <title>Tervetuloa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
        <script>
            let baseFields;

            window.onload = () => {
                const emptyFields = document.getElementById("empty-tr-to-copy");

                baseFields = emptyFields.cloneNode(true);
                emptyFields.parentElement.removeChild(emptyFields);
            }

            function addIngredientsFields() {
                const inputTable = document.getElementById("input-table");
                const newInputs = baseFields.cloneNode(true);

                newInputs.id = null;
                newInputs.className = null;
                inputTable.append(newInputs);
            }

            function submitMeal() {
                const xhttp = new XMLHttpRequest();
                const mealForm = document.getElementById("meal-form");
                const formData = new FormData(mealForm);

                let meal = {};
                let ingredient = {};
                let ingredients = [];
                let index = 0;

                for (const [key, value] of formData.entries()) {
                    if (key == "ingredient_name" || key == "qty" || key == "unit") {
                        ingredient[key] = value;
                        index++;
                    } else if (key != "csrf_token") {
                        meal[key] = value;
                    }
                    if (index == 3) {
                        ingredients.push(ingredient);
                        ingredient = new Object;
                        index = 0;
                    }
                }

                meal.ingredients = ingredients;

                xhttp.open("POST", "/testaus");
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.setRequestHeader("X-CSRFToken", document.getElementById("csrf_token").value);
                xhttp.send(JSON.stringify(meal));
            }

            function addMeal() {
                document.getElementById("add-meal-body").classList.remove("hidden");
                document.getElementById("main-content").classList.replace("grid", "hidden");
            }

            function toggleRecipe(hideInfo = true) {
                const addMealButton = document.getElementById("add-meal-button");

                if (hideInfo === true) {
                    document.getElementById("add-meal-info").classList.replace("flex", "hidden");
                    document.getElementById("recipe-div").classList.replace("hidden", "flex");
                    addMealButton.innerHTML = "Näytä ohjeet";
                    addMealButton.onclick = () => { toggleRecipe(false); };
                } else {
                    document.getElementById("add-meal-info").classList.replace("hidden", "flex");
                    document.getElementById("recipe-div").classList.replace("flex", "hidden");
                    addMealButton.innerHTML = "Lisää resepti";
                    addMealButton.onclick = () => { toggleRecipe(); };
                }
            }


        </script>
    </head>
    {% include "header.html" %}{% if session.username %}
        <form id="meal-form" class="h-full">
            <div id="add-meal-body" class="m-14 h-3/4 grid grid-cols-2">
                
                <div id="add-meal-div" class="bg-orange-100 border border-black rounded overflow-y-auto flex flex-col pt-10 pb-5 mx-28 place-items-center">

                    <div class="m-2 border border-black rounded p-3">
                        <p class="font-semibold m-1">Ruokalajin nimi: <input name="meal_name" class="border border-black rounded-md" value="{{ today }}"></p>
                    </div>
                    <div id="ingredient-input-fields" class="m-2 p-3 border border-black rounded h-[500px] overflow-y-auto">
                        <table id="input-table">
                            <tr>
                                <th>Ainesosa</th>
                                <th>Määrä</th>
                                <th>Yksikkö</th>
                            </tr>
                            <tr id="empty-tr-to-copy" class="hidden">
                                <th><input name="ingredient_name" class="m-[1px] border border-black rounded-md"></th>
                                <th><input name="qty" class="border border-black rounded-md" size="5"></th>
                                <th>
                                    <select name="unit">
                                        <option>kpl</option>
                                        <option>mm</option>
                                        <option>tl</option>
                                        <option>rkl</option>
                                        <option>kkp</option>
                                        <option>ml</option>
                                        <option>dl</option>
                                        <option>l</option>
                                        <option>g</option>
                                        <option>kg</option>
                                        <option>pkt</option>
                                        <option>tlk</option>
                                        <option>rs</option>
                                        <option>ps</option>
                                    </select>
                                </th>
                            </tr>{% for i in range(1) %}
                            <tr>
                                <th><input name="ingredient_name" class="border border-black rounded-md"></th>
                                <th><input name="qty" class="border border-black rounded-md" size="5"></th>
                                <th>
                                    <select name="unit">
                                        <option>kpl</option>
                                        <option>mm</option>
                                        <option>tl</option>
                                        <option>rkl</option>
                                        <option>kkp</option>
                                        <option>ml</option>
                                        <option>dl</option>
                                        <option>l</option>
                                        <option>g</option>
                                        <option>kg</option>
                                        <option>pkt</option>
                                        <option>tlk</option>
                                        <option>rs</option>
                                        <option>ps</option>
                                    </select>
                                </th>
                            </tr>{% endfor %}
                        </table>
                        <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </div>
                    <div class="p-5">
                        <button onclick="addIngredientsFields()" type="button" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold px-2 py-1 border border-green-800 rounded">
                            Lisää ainesosia
                        </button>
                        <button id="add-meal-button" onclick="toggleRecipe(true)" type="button" class="m-2 bg-green-600 hover:bg-green-700 text-white font-bold px-2 py-1 border border-green-800 rounded">
                            Lisää resepti
                        </button>
                        
                    </div>
                    
                </div>
                <div class="grid grid-rows-5">

                    <div id="add-meal-info" class="row-span-4 mx-14 border border-black rounded bg-orange-100 p-10 flex items-center justify-center">
                        <div class="border border-black rounded h-[95%] p-5">
                            <p class="">
                                Anna ruokalajille jokin lyhyt ja ytimekäs, ruokalajia kuvaava nimi. Nimessä kannattaa suosia väliviivojen
                                käyttöä mahdollisuuksien mukaan, sillä pitkät yhdyssanat saattavat näyttäytyä sovelluksessa hieman erikoisella
                                tavalla. Esimerkiksi "Lihamakaronilaatikko" -> "Liha-makaronilaatikko".
                            </p><br>
                            <p>
                                Anna ruokalajille vähintään yksi ainesosa ja sille määrä numeroina, sekä määrän yksikkö.
                                Raaka-aineiden lukumäärälle ei ole ylärajaa.
                            </p><br>
                            <p>
                                Ruokalajille voi lisätä halutessaan myös reseptin. Reseptille voi antaa halutessaan hieman eriävänkin nimen, sillä
                                ruokalajin lisäämisen yhteydessä lisätty resepti liittyy aina lisättyyn ruokalajiin, mutta reseptejä on mahdollista selata
                                myös erikseen. Esimerkiksi "Kanakeitto" -> "Kanakeitto talon tapaan".
                            </p>
                        </div>
                    </div>

                    <div id="recipe-div" class="hidden row-span-4 mx-14 border border-black rounded bg-orange-100 flex-col place-items-center p-10">
                        <div class="m-2 border border-black rounded  p-3">
                            <p class="font-semibold m-1 ">Reseptin nimi: <input name="recipe_name" class="border border-black rounded-md"></p>
                        </div>
                        <div class="m-2 border border-black rounded h-full w-full overflow-auto">
                            <textarea name="recipe" onclick="this.value = this.onclick = null;" class="h-full w-full box-border p-3 scroll-smooth">Tähän kenttään tulee itse resepti.</textarea>
                        </div>
                    </div>
                    <div class="border border-black rounded bg-orange-100 mx-14 mt-8 grid place-items-center">
                        <button onclick="submitMeal()" type="button" class=" bg-green-600 hover:bg-green-700 text-white font-bold px-24 py-4 border border-green-800 rounded">
                            Tallenna
                        </button>
                    </div>
                </div>
                <div class="col-span-2 grid place-items-center">

                </div>
                
            </div>
        </form>
        {% endif %}
    </body>
</html>