    {%- block reset -%}
        <div class="flex items-center justify-center my-14 sm:h-screen sm:my-0">
            <div id="login-box" class=" bg-orange-100/90 flex items-center justify-center w-96 h-96 border-black border rounded">
                <form id="login-form" action="/password" method="POST" class="text-center"  autocomplete="off">
                    <p class="my-1 py-1">
                        Uusi salasana:<br>
                        <input id="password-field" type="password" name="password" maxlength="16" class="border border-black rounded my-2">
                    </p>
                    <p class="my-1 py-1">
                        Salasana uudestaan:<br>
                        <input id="repeat-password-field" type="password" name="repeat-password" maxlength="16" class="border border-black rounded my-2">
                    </p>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <p id="matches-notification" class="font-semibold px-10 py-2 text-sm text-red-500" style="display: none;">
                        Salasanat eivät täsmää.
                    </p>
                    <p id="password-notification" class="font-semibold px-10 py-2 text-sm text-red-500">
                        Salasanan täytyy olla vähintään kahdeksan merkkiä pitkä ja sisältää myös vähintään yksi numero, sekä erikoismerkki.
                    </p>
                    <button id="login-box-button" class="bg-green-400 text-white font-bold my-3 py-2 px-4 border border-green-800 rounded" disabled>
                        Tallenna
                    </button>
                </form>
            </div>
        </div>
    {%- endblock -%}