{%- extends "admin_base.html" -%}
    {%- block title -%}Tervetuloa!{%- endblock -%}
    {%- block head -%}
        {{ super() }}
        {%- if session.username %}
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
        {%- endif %}
    {%- endblock -%}
    {%- block content -%}
        <div id="main-content" class="bg-orange-100/90 my-20 mx-96 border border-black rounded grid place-items-center">
            <div id="header" class="p-12">
                <p class="text-center text-2xl font-bold">Käyttäjät:</p>
            </div>
            <!--<div class="border border-black rounded bg-orange-50 h-[500px] overflow-x-hidden overflow-y-auto text-left mb-10 p-5 w-11/12 break-words">-->
            <div class="border border-black rounded bg-orange-50 overflow-y-auto mb-20 max-h-[400px]">
                <table class="m-5">
                    <thead>
                        <tr>
                            <th><p class="m-2">Käyttäjänimi</p></th>
                            <th><p class="m-2">Resetoi salasana</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><p class="px-5"><a href="/">{{ user }}</a></p></td>
                            <td onClick="confirmResetPassword('{{ user.db_id }}', '{{ user.name }}')" class="flex justify-center m-2 hover:cursor-pointer"><img src="{{ url_for('static', filename='images/reset.png') }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {%- endblock -%}
